.git
.github
.ddev
.env
.env.*
node_modules
npm-debug.log
yarn-error.log
vendor
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
public/hot
.phpunit.result.cache
.phpunit.cache
auth.json
